:root {
  --red: #e50914;
  --black: #141414;
  --gray: #aaa;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  font-family: 'Arial', Times, serif;
  color: var(--white);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  color: var(--red);
  font-family: 'Arial Black', Times, serif;
  font-size: 40px;
  margin-left: 5px;
}

header nav a {
  text-decoration: none;
  color: var(--gray);
  margin-right: 10px;
}

header nav a:nth-last-child(1) {
  margin-right: 0;
}

header nav a:hover {
  color: var(--white);
}

.main-movie {
  font-size: 20px;
  background: 
    linear-gradient(to right, rgba(200, 200, 200, 0.2) 25%, rgba(0, 0, 0, 0.8)), 
    url('../img/coringa-capa.jpg')
  ;
  background-size: cover;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-movie .description {
  margin-bottom: 40px;
  margin-top: 10px;
}

.main-movie .title {
  text-transform: uppercase;
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 20px;
}

.button {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: var(--white);
  padding: 16px 32px;
  margin-right: 16px;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s all ease;
}

.button:hover {
  background-color: var(--white);
  color: var(--black);
}

.button i {
  margin-right: 8px;
}

.container {
  margin: 0 20px;
}

.main-movie .container {
  width: 60%;
}

.box-movie {
  height: 100%;
  width: 100%;
  display: block;
}

.movies-carousel {
  margin-top: 16px;
}