:root {
  --red: #e50914;
  --black: #141414;
  --gray: #aaa;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  font-family: 'Times New Roman', Times, serif;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  color: var(--red);
  font-family: 'Arial Black', Times, serif;
  font-size: 40px;
  margin-left: 5px;
}

header nav a {
  text-decoration: none;
  color: var(--gray);
  margin-right: 10px;
}

header nav a:hover {
  color: var(--white);
}